<div class="navbar navbar-expand-sm bg-black">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">
           <img class="navbar-brand-logo" src="assets/oytwhitelogo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-3 ">
                <li class="nav-item">
                    <a class="nav-link" href="#">Hakkımızda</a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" href="#">Etkinlikler</a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" href="#">ARGE</a>
                </li>
                <li class="nav-item px-1 pe-3">
                    <a class="nav-link" href="#">SSS</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-lg btn-outline" onclick="location.href='#'" type="button">Üye Ol</button>
                </li>
            </ul>
        </div>
    </div>
</div>
