<!-- CSS Customizations -->
<link href="/public/css/navbar-styles.css" rel="stylesheet">

<!-- Navbar itself -->
<div class="container-fluid">
    <a class="navbar-brand mx-auto" href="/">
        <img class="navbar-brand-logo" src="public/icon/oytwhitelogo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-3 ">
            <li class="nav-item">
                <a class="nav-link" href="/about">Hakkımızda</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="/events">Etkinlikler</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="/arge">ARGE</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="/faq">SSS</a>
            </li>
            <li class="nav-item px-1 pe-3">
                <a class="nav-link" href="mailto:huoyt@div72.xyz">İletişim</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline" onclick="location.href='https://formie.div72.xyz/forms/3?goto=https://ozguryazilimhacettepe.com/welcome'" type="button">Üye Ol</button>
            </li>
        </ul>
    </div>
</div>
