<div class="navbar navbar-expand-sm bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/public/oyt-navbar-icon.svg" class="navbar-brand-logo" />
        </a>
        <li class="nav-item">
            <button class="btn btn-lg btn-outline" onclick="location.href='/forms/enroll'" type="button">Üye Ol</button>
        </li>
    </div>
</div>
