<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">
                    Biz Kimiz?
                </h1>
                <p class="lead text-muted mb-0">Biz mühendisler, geliştiriciler, araştırmacılar olarak her gün neredeyse
                    tamamen özgür yazılım araçlarıyla mesleğimizi yapıyor ve öğreniyoruz. İnternetin %90’ı özgür
                    yazılımlar sayesinde ayakta. Eğer bugün kullandığımız programlama dillerinin kaynak kodlarına açıp
                    bakabiliyorsak, kimseye hiçbir şey borçlu olmadan istediğimiz zaman ve istediğimiz kadar
                    kullanabiliyorsak bunu özgür yazılımlara borçluyuz. Ancak malesef ki üniversitemizde özgür yazılım
                    bilinci henüz oluşmuş değil. Sizlere özgür yazılımın önemini, faydalarını gösterebilmek ve bu
                    araçlarla geliştirebileceğimiz şeylerin sınırının olmadığını fark ettirebilmek amacıyla bu topluluğu
                    kurduk. Sizlere özgür yazılım bilincini kazandırdıktan sonra özgür yazılım teknolojilerini
                    kullanmayı öğretmek, ondan sonra da sizinle beraber, artık sınırın sadece hayal gücümüz olduğu
                    projeler geliştirmek istiyoruz. DevOps’tan web uygulamalarına, siber güvenlikten mobil uygulamalara
                    kadar her şeyi sizlerle beraber, özgür yazılım teknolojilerini kullanarak inşa etmek istiyoruz.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
                    alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

<section class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">0 Numaralı Özgürlük</h2>
                <p class="font-italic text-muted mb-4">Herhangi bir amaç için, istediğiniz şekilde yazılımı çalıştırma
                    özgürlüğü</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">1 Numaralı Özgürlük</h2>
                <p class="font-italic text-muted mb-4">Her ne istiyorsanız onu yaptırmak için programın nasıl
                    çalıştığını ögrenmek ve onu değiştirme özgürlüğü. Yazılımın kaynak koduna ulaşmak, bu iş için ön
                    koşuldur.</p>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">2 Numaralı Özgürlük</h2>
                <p class="font-italic text-muted mb-4">Kopyaları dağıtma özgürlüğü, böylece başkalarına yardım
                    edebilirsiniz</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">3 Numaralı Özgürlük</h2>
                <p class="font-italic text-muted mb-4">Değiştirilmiş sürümlerinizin kopyalarını dağıtma özgürlüğü (3
                    numaralı özgürlük). Böylece değişikliklerinizden yararlanması için tüm topluma bir şans vermiş
                    olursunuz. Kaynak koduna erişmek, bunun için bir ön koşuldur.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Yönetim Kurulu</h2>
                <p class="font-italic text-muted">2022-2023</p>
            </div>
        </div>

        <div class="row text-center">
            
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Buğra Kağan Acar</h5><span class="small text-uppercase text-muted">Başkan</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">İlker Avcı</h5><span class="small text-uppercase text-muted">Başkan
                        Yardımcısı</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Zeynep Mete</h5><span class="small text-uppercase text-muted">Başkan
                        Yardımcısı</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Barkın Karahan</h5><span class="small text-uppercase text-muted">Kurumsal İlişkiler
                        Sorumlusu</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Eyüp Menevşe</h5><span class="small text-uppercase text-muted">Halkla İlişkiler
                        Sorumlusu</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Furkan Şimşekli</h5><span class="small text-uppercase text-muted">Eğitim ve ARGE
                        Sorumlusu</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Alperen Gürbüz</h5><span class="small text-uppercase text-muted">Organizasyon
                        Sorumlusu</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</section>