<div class="d-flex justify-content-center align-items-center text-center" style="height:45rem">
    <div class="d-block">
        <div class="" style="font-size: 14rem">404</div>
        <div class="text-secondary display-5" style="transform: translateY(-3rem);">Page Not Found</div>
        <div class="display-3">Looks Like You Misspelled an Url<br> or <br>We Have Made a Mistake</div>
    </div>
</div>