<div class="d-flex justify-content-center align-items-center text-center" style="height:45rem">
    <div class="d-block">
        <div class="" style="font-size: 14rem"><%= error.status %></div>
        <div class="text-secondary display-5" style="transform: translateY(-3rem);"><%= error.title %></div>
        <div class="display-3"><%= error.message %></div>
    </div>
</div>