<div class="row py-5 mx-auto">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-body p-5">
            <h1>Form İletildi!</h1>
            <br>
        </div>
    </div>
</div>
