<div class="row py-5">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-body p-5">
            <h1>Aramıza Hoşgeldin!</h1>
            <br>
            <p class="font-italic text-muted">En kısa süre içerisinde sohbet gruplarına ekleyeceğiz seni. Bu süre zarfında sosyal medya sayfalarımızı takip edebilir,
                websitemizden <a href="/events">etkinliklerimize</a> göz atabilirsin!</p>
            </div>
        </div>
    </div>
</div>
