<div class="row py-5">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-body p-5">
            <h1>Aramıza Hoşgeldin!</h1>
            <br>
            <p class="font-italic text-muted">Yapacağımız etkinlikleri görmek için etkinlikler sayfasını(yapım aşamasında) veya sosyal medya hesaplarımızı takip edebilirsin.</p>
            </div>
        </div>
    </div>
</div>
