.event-card-inner {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.event-card-inner::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s ease-in-out;
}

/* Scale up the box */
.event-card-inner:hover {
    transform: scale(1.03, 1.03);
}

/* Fade in the pseudo-element with the bigger shadow */
.event-card-inner:hover::after {
    opacity: 1;
}

.req-chip {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 15px;
    margin: 2px 0;
}

.events-color {
    background: #36D1DC;  /* fallback for old browsers */
    background-image: linear-gradient(60deg,#529ffe  0%, #41d6ff 100%);
    border-width: 0;
}

.courses-color {
    background-color: #FF8D66FF;
    background-image: linear-gradient(60deg, #FF8D66FF 0%, #F7CE68 100%);
    border-width: 0;
}