<div class="container-sm align-items-center">
    <div class="py-2 mt-4 align-items-center">
        <h1>Fikrinizi Paylaşın</h1>
        <!-- Registration Form -->
        <div class="ml-5 pt-3 align-items-center form-container">
            <form method="POST">
                <div class="">

                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-person fs-2" style="color: #ff4100;"></i>
                            </span>
                        </div>
                        <input id="firstName" type="text" name="firstname" placeholder="İsim" class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-person fs-2" style="color: #ff4100;"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" name="lastname" placeholder="Soyisim" class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-envelope fs-2" style="color: #ff4100;"></i>
                            </span>
                        </div>
                        <input id="email" type="email" name="email" placeholder="Mail Adresi" class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <!-- Project Label -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-pencil fs-2" style="color: #ff4100;"></i>
                            </span>
                        </div>
                        <input id="projectName" type="text" name="projectName" placeholder="Proje Adı" class="form-control bg-white border-left-0 border-md" required>
                    </div>

                    <!-- Project Description -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="px-1 border-md border-right-0 me-2">
                                <i class="bi bi-code fs-2" style="color: #ff4100;"></i>
                            </span>
                        </div>
                        <textarea class="form-control bg-white border-left-0 border-md" id="projectDesc" placeholder="Açıklama" name="projectDesc" rows="3" required></textarea>
                    </div>


                    <!-- Submit Button -->
                    <div class="form-group mb-0" style="margin-left: 47px;">
                        <input type="submit" id="signup-btn" class="btn btn-outline" value="Gönder">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
